<div style="background-color: #d2eeec; padding-left: 7%; padding-bottom: 3%; padding-right: 10%;">
    <h1>TERMS AND CONDITIONS OF USE</h1>

    <h2>1. ACCEPTANCE</h2>
    <p>This document (hereinafter, the "Contract") establishes the terms and conditions of Robert Half Internacional
        Empresa de Servicios Transitorios Limitada, with address at Avenida Isidora Goyenechea 2800 Piso 15. Torre
        Titanium
        7550-647 Las Condes, which will be application to the access and use by the User of this website (the
        “Website”).
        Please read this Agreement carefully.
        By accessing, consulting or using the Website, Users (“You”, “you”, “User”, or “user”) agree to comply with the
        terms and conditions established in this Agreement. If you do not agree to be bound by these terms and
        conditions,
        you may not access or use the Website.
        Robert Half Internacional Empresa de Servicios Transitorios Limitada and its respective affiliated companies
        (collectively, “RH”) reserve the right to update this Agreement from time to time. Consequently, we recommend
        the
        User to periodically review the modifications made to the Contract.
        This Website is directed exclusively to people residing in Chile. Users residing or domiciled in another country
        who
        wish to access and use the Website will do so at their own risk and responsibility, so they must ensure that
        such
        access and/or use complies with the applicable legislation in their country.</p>

    <h2>2. REQUIREMENTS RELATED TO THE USER</h2>
    <p>The Website and the services related to it are offered to Users who have the legal capacity to enter into legally
        binding contracts under applicable law.
        Minors are not authorized to use the Website. If you are a minor, please do not use this website.</p>

    <h2>3. LICENSE</h2>
    <p>In this act, RH grants the User a limited, non-exclusive, non-transferable, non-transferable and revocable
        license;
        to consult and temporarily download a copy of the content offered on the Website, solely for the User's personal
        use
        or within his company, and never for commercial purposes.
        All material displayed or offered on the Website, including but not limited to artwork, documents, text, images,
        sound, video, audio, illustrations, software, and HTML code (collectively, the "Content") , is the exclusive
        property of RH or the companies that provide said material.
        The Content is protected by Chilean, United States and international copyright laws, as well as by other laws,
        regulations and rules applicable to intellectual property rights. Unless expressly provided otherwise in this
        contract, and/or unless by legal imperative this is expressly permitted by laws repealing those currently in
        force,
        the User may not (i) use, copy, modify, display, delete, distribute, download , store, reproduce, transmit,
        publish,
        sell, resell, adapt, reverse the process of creating, or create derivative products from, the Content. Nor may
        you
        (ii) use the Content on other Web pages or in any means of communication, such as, for example, in a network
        environment, without the prior written authorization in this regard of RH.
        All trademarks, service marks and logos (hereinafter, the "Marks") displayed on the Website are the exclusive
        property of RH and their respective owners.
        The User may not use the Marks in any way without the prior written authorization of RH and the respective
        owners.</p>

    <h2>4. INFORMATION PROVIDED BY THE USER</h2>
    <p>The Website offers the User a forum to obtain employment and professional information. By providing or entering
        information on the Website ("User Information"), the User grants RH a permanent, non-exclusive, irrevocable,
        royalty-free license and right, for the maximum time allowed by applicable law, but does not imposes any
        obligation
        to, use, copy, modify, display, distribute, download, store, reproduce, transmit, publish, sell, resell, adapt
        or
        create derivative products in whole or in part from the User Information, in any way or way. The User
        acknowledges
        and accepts that RH is only a passive forum through which users can obtain employment or obtain professional
        information. RH does not check or control User Information. Consequently, RH does not assume any guarantee
        regarding
        the reliability, accuracy, integrity, validity or veracity of the Information submitted by users.
        RH reserves the right, in its sole JUDGMENT, to remove, remove, refuse to mirror or block any User Information
        that
        RH deems unacceptable.

        RH reserves the right, in its sole JUDGMENT, to remove, remove, refuse to mirror or block any User Information
        that
        RH deems unacceptable. In the event that RH receives any notification about the unacceptability of certain
        information provided by users, RH may, with total discretion, investigate said information.
        The User assumes and accepts that RH may keep a copy of the User's Information, and disclose said information to
        third parties if it deems it necessary to:
        (i) protect the integrity of the Website;
        (ii) protect the rights of HR;
        (iii) comply with a court order;
        (iv) comply with any legal process;
        (v) enforce the rights and actions that assist RH under this Agreement; Y
        (vi) satisfy any request regarding the infringement of third party rights.</p>

    <h2>5. GENERAL PROHIBITION</h2>
    <p>By accessing and using the Website, the User agrees NOT to:
        (a) fail to comply with all laws, regulations and rules applicable at the local, state, provincial, national
        (Chile)
        level, as well as any other applicable legislation such as laws against employment discrimination or laws for
        equal
        employment opportunities, when applicable;
        (b) infringe the intellectual property and privacy rights, including, but not limited to, the copyrights,
        database
        rights, trademarks, or know-how of any third party;
        (c) download, post, transmit or store material that:
        • is unlawful, offensive, defamatory, fraudulent, misleading, misleading, harmful, threatening, harassing,
        obscene,
        or objectionable;
        • violates the User's contractual or confidentiality obligations;
        • disrupt or interfere with normal operations of the Website, such as the posting or transmission of viruses,
        worms
        or Trojan horses, the continued posting of duplicate material or the posting of unusually large files; either
        • that is not permitted by HR, such as unauthorized advertising material, unsolicited promotional material,
        “junk
        mail”, “spam”, “chain letters”, pyramid direct sales messages, franchises, distribution material, club
        membership,
        sales contracts, or any other unacceptable material;
        (d) violate the personal and privacy rights of others by abusing the Content, such as by continuously harassing
        or
        annoying them by sending them unsolicited emails, or collecting personal information;
        (e) circumvent, or attempt to circumvent, the security measures of the Website;
        (f) use any device, procedure or mechanism, such as spiders and tracking robots, to locate, retrieve, search
        for, or
        access the Website or the Content, without the prior written consent of RH;
        (g) access or attempt to access the account or login of third parties or companies indicated on the Website;
        (h) copy, modify, reproduce, delete, distribute, download, store, transmit, sell, resell, publish, reverse
        engineer,
        or create derivative products from the Content, except for material submitted by the Content itself User and
        that is
        owned by you, or if authorized by applicable intellectual property laws;
        (i) send or provide incorrect, false or incomplete information, in relation to the User's curriculum vitae,
        biographical data, the date he started working or the profile of the User's company;
        (j) impersonate another person or company;
        (k) use the Website in an unauthorized manner or for any criminal activity;
        (l) falsify the header information in the email; either
        (m) falsifying data about himself, about his association with third parties or about his company.</p>

    <h2>6. USE OF THE SITE AND SPECIFIC OBLIGATIONS</h2>
    <p>In addition to the general obligations indicated in Article 5, the User must:
        (a) use the Website solely for the legally permitted purposes of seeking employment and gathering professional
        information;
        (b) provide and maintain the personal data that make up the User Information in a complete, correct, updated and
        truthful manner;
        (c) submit only material for which the User has the corresponding rights or license to do so;
        (d) use your own judgment, caution and common sense when managing employment opportunities and information
        obtained
        through the Website; Y
        (e) assume the risk of relying on content, or use of information, provided by third parties.</p>

    <h2>7. ACCOUNT AND PASSWORD</h2>
    <p>When the User uses the Website, he may choose to open an account on the Site. In that case, the User will receive
        the corresponding virtual account number and initial password. It is the sole responsibility of the User:
        (a) maintain the confidentiality of said virtual account numbers and password;
        (b) frequently update and check your password;
        (c) immediately notify RH, if you become aware of the unauthorized use of your account or any breach of security
        measures.</p>

    <h2>8. EMPLOYMENT</h2>
    <p>The User assumes and accepts that RH:
        (a) does not guarantee that the User will effectively receive a job offer through the Website;
        (b) is not responsible for the job offers, the verification of said offers, the hiring decisions they adopt and
        the
        jobs offered by third parties or companies;
        (c) does not guarantee the accuracy, integrity, validity or currency of the information included on the Web by
        third
        parties or companies;
        (d) although RH reviews third party material and only allows the inclusion of material that, to the best of its
        knowledge and belief, does not violate applicable law, it will not assume any responsibility for material sent
        by
        third parties, such as, for example, the information regarding the creation of jobs in a company or that
        included in
        the employment lists; Y
        (e) is neither a company that hires the User nor is there any agency contract. The User must use their good
        judgment, caution and common sense when evaluating the companies that may hire them and the information provided
        by
        third parties.</p>

    <h2>9. LINKS TO THIRD-PARTY WEBSITES</h2>
    <p>The Website may contain links, such as hyperlinks or links, indicating access to third-party websites (the
        "Related
        Sites"). Although RH reviews third-party material and only permits the inclusion of Linked Sites that, to the
        best
        of its knowledge and belief, do not violate applicable law, RH cannot control or monitor Linked Sites and,
        accordingly, will not assume no responsibility for the accuracy, security or reliability of the material,
        information or content contained in such Linked Sites.
        The inclusion of the Linked Sites on the Website does not imply that there is any relationship or association
        between RH and the owner of the Linked Sites, nor the approval or endorsement by RH of said Linked Sites. RH
        includes the Related Sites solely for the convenience of the User. This is solely responsible for access to the
        Related Sites.
        The User must use their own good judgment, caution and common sense when disusing the Related Sites and, for
        this,
        we recommend reviewing the conditions of use and the terms governing privacy in said Related Sites. RH reserves
        the
        right to remove from its Website all the Related Sites of which it has actual knowledge that they are infringing
        the
        rights of third parties and/or whose content violates the applicable legislation, or if so required by a court
        order
        or an administrative ordinance. .
        Links to our website are not allowed without the express prior written authorization of RH. The User may not,
        alone
        or in collaboration with other people, expand, modify, replace, amend or limit, in whole or in part, the
        information
        offered on our website or its functional applications. In addition, the User may not, alone or in collaboration
        with
        other people, create or install links from their own website or from third-party websites, to this website
        (whether
        through hypertext links, deep-linking, framing, by code or otherwise), in whole or in part, without the prior
        written consent of HR.</p>

    <h2>10. PRIVACY</h2>
    <p>RH will process all the personal information that the User enters or provides through our Website in accordance
        with
        the Privacy Policy.
        > Privacy of the Website and the terms and conditions related to it in this contract. </p>

</div>