h1{
    font-size: 48px;
    margin-bottom: 3%;
    padding-top: 4%;
    font-weight: bold;
}

#pregunta{
    font-size: 18px;
    font-weight: bold;
    padding-left: 4%;
}

#respuesta{
    font-size: 15px;
    padding-bottom: 3%;
    padding-left: 5%;
}