<div style="background-color: #d2eeec; padding-left: 7%; padding-bottom: 3%; padding-right: 10%;">
    <h1>FREQUENTLY ASKED QUESTIONS</h1>
    <p id="pregunta">What is Pet Keepers?</p>

    <p id="respuesta"> It's an advertising website for pet care services, where the pet lovers can make money taking
        care of pets from
        people who need that kind of services.</p>

    <p id="pregunta">Is it secure to pay through PetKeppers?</p>
    <p id="respuesta">PetKeepers contains different payment options and intermediation, the people should try to evade
        paying outside the
        platform or an agreement between both persons. The ones who try to scam, usually will attempt to make the
        payments
        away from this platform.</p>

    <p id="pregunta">How can I report an account?</p>
    <p id="respuesta">You can go to the profile that you want to report, and click the report button, then write a
        message telling your
        reasons, and our team will check it.

    <p id="pregunta">How to delete my account?</p>
    <p id="respuesta">Go to my profile, scroll down, and click “Delete my account”, then follow the steps.</p>

    <p id="pregunta">Is PetKeepers reliable?</p>
    <p id="respuesta">Yes, the website has very good security, and we are working to have control over the profiles to
        make it even more
        reliable.</p>

    <p id="pregunta">Do I need any documents or courses to register?</p>
    <p id="respuesta">The only document needed is the ID card, for those who use PetKeepers for working, even though
        having courses is
        optional, it's a good idea to have at least one about pet care.</p>

    <p id="pregunta">How can I cancel a service?</p>
    <p id="respuesta">We make the connection between you and the person who publishes the service, and you both make the
        process of
        purchasing a service, then, to cancel the service you need to voice it to the person.</p>

    <p id="pregunta">How can I track the delivery of my order?</p>
    <p id="respuesta">Once you buy a product, our team will send you an email with the information of the purchase and
        the track number.</p>

    <p id="pregunta">Security advice</p>
    <ul id="respuesta" style="padding-left: 6%;">
        <li>Never share your personal information.</li>
        <li>If someone is trying to scam you, report them and contact us, we will take care of the problem.</li>
        <li>If you’ve been scammed, contact us and we will try to locate and catch the scammer.</li>
        <li>If the payment was made through PayPal you can open a claim through PayPal’s Resolution Center.</li>
        <li>If you made a Bizum, we recommend you go to you bank and they will tell you the possible ways for claiming.
        </li>
        <li>If you made a Bank Transfer or paid through an internet portal, you should fill a complaint with the police.
        </li>
        <li>Collect all the possible data about the scammer to make the search easier and more agile.</li>
    </ul>

    <p id="pregunta">Subscription types</p>
    <ul id="respuesta" style="padding-left: 6%;">
        <li>1 month: 9.99€</li>
        <li>6 months: 39.99€</li>
        <li>12 months: 59.99€</li>
    </ul>


    <p id="pregunta">How can I pay for a subscription?</p>
    <p id="respuesta">There is a section where we inform you about all the types of subscription, and once you have
        chosen one, click on
        “Subscribe”, and we will redirect you to our payment service, to make the payment through Caixa by card.</p>

    <p id="pregunta">How to contact us</p>
    <p id="respuesta">Go to your profile, click on “Contact”, then you will be able to send us an email.</p>

</div>