<div id="tapar">
  <img [src]="'/assets/logoSinFondo.png'" id="logo" href="#" [routerLink]="['/']">
  <h1>
    <ng-container *ngIf="tipoPedido=='null'">
      TODAS LAS MASCOTAS
    </ng-container>
    <ng-container *ngIf="tipoPedido!='null'">
      {{ tipoPedido.toUpperCase() }}
    </ng-container>
  </h1>

  <ul id="buscador" class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <input type="text" placeholder="Buscar tipos de mascotas" (keyup.enter)="sendit()" [(ngModel)]="search">
    </li>
  </ul>
</div>
<div style="margin-top: 13%; margin-left: 13%;">
  <h2>MASCOTAS:</h2>
  <p id="anuncios">{{cantidadMascotas}} mascotas encontradas</p>
  <ul>
    <ng-container *ngFor="let mascota of mascotas">
      <li style="display: inline-block;  padding-top: 2%; margin-right: 2%;">
        <div class="card" id="servicios" style="width: 30rem;" [routerLink]="['/vistamascota',mascota.id]">
          <img class="card-img-top" src="{{mascota.imagenes}}" style="margin-top: 5%; padding: 5%" alt="Card image cap">
          <div class="card-body" style="padding-bottom: 5%;">
            <h3 class="card-text"><b>{{mascota.nombre}}</b></h3>
            <h5 class="card-text"><b>Descripcón: </b>{{mascota.descripcion}}</h5>
            <h5 class="card-text"><b>Precio: </b>{{ mascota.precio }} €</h5>
          </div>
        </div>
      </li>
    </ng-container>
  </ul>
</div>