#logo{
    height: 50px;
    background-color: #d2eeec;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 1%;
}

h1{
    font-size: 48px;
    padding-top: 0.5%;
    margin-left: 14.5%;
    font-weight: bold;
}

h2{
    margin-top: -4% !important;
    font-size: 32px;
    font-weight: bold;
    margin-left: 2%;
}

#anuncios{
    color: grey;
    font-size: 20px;
    margin-left: 2%;
    
}

button:focus{
    background-color: #d2eeec;
    color: black;
}

.btn{
    width: 220px;
    height: 45px; 
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
    background-color: #d2eeec;
    border-color: #205f5a;
    color: black;
    border-radius:25px;
}

#tapar{
    width: 100%;
    height: 25%;
    top:0px;
    left:0px;
    bottom:0px;
    right:30%;
    position: absolute;
    background-color: #39ACA2;
}

#lens{
    background-color: transparent;
    border: transparent;
    margin-left: 121%;
    margin-top: -60% !important;
    
}
    
input{
  width: 1000px;
  height: 45px;
  margin-left: 26%;
  border-radius: 25px;
  text-align: justify;
  border-color: #205f5a;
  border-width: 1px;
  background-color: #d2eeec;
  padding-left: 20px;
  font-size: 17px;
}

#buscador{
    margin-top: 0.5%;
}

#servicios{
    background-color: #d2eeec;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius:  20px 20px 20px 20px;
    -webkit-border-radius:  20px 20px 20px 20px;
    border: 0px solid #000000;
}

h5{
    padding-top: 3%;
}