<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div align="center">
        <div class="card" style="width: 40%; margin-top: 3%;">
            <div class="card-body">
                <div >
                    <h1>Pagar con tarjeta</h1>
                    <img src="../../assets/Visa_Inc._logo.svg.png" alt="..." style="margin-left: 8%;">
                    <img src="../../assets/Mastercard-Simbolo.png" alt="...">
                    <button class="btn btn-primary" style="display: block;" (click)="pagar(1)">Pagar</button>
                </div>
                <div>
                    <h1>Pagar con PayPal</h1>
                    <img src="../../assets/logo-Paypal.png" alt="..." style="margin-left: 10%;">
                    <button class="btn btn-primary" style="display: block;" (click)="pagar(2)">Pagar</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>