<div style="background-color: #d2eeec; padding-left: 7%; padding-bottom: 30%;">
    <h1>INTRODUCTION</h1>


    <p>Pet keepers is a web app that will allow pet owners to search for people decided to take care and maintain their
        pets, and assure their owners that they will be in safe hands. As founders of this project we believe that every
        animal must be treated as best as possible.
        This application allows the customers to search for pet’s services, like someone for taking care of them on
        vacation, going for a walk, training them or even taking them to a pet groomer.
        The service works with a subscription, the people who are willing to take care of the pets, will pay for a
        monthly or annual subscription that will promote their services through the platform. This subscription makes
        them able to offer and submit requests and set prices.
        Our application will also have an online shop, where companies will sell their items. They will act like
        providers of products for us, and we will act as a portal for selling their products. By clicking on the
        product, it will send you to their product in his own webpage.</p>

    <p>At the beginning, all we investigated possible ideas of actual problems that could be solved with an app/webApp,
        doing a brainstorm, we came up with an app related to pet care. We know there are many pet owners that can’t
        give a good care to their pets due to lack of time, and that’s a problem we want to resolve.
        Thinking, we finally came to the conclusion of making a platform that allows us to connect people who want to
        provide their services of caring for pets, and those who for some reason need these services.</p>

    <p>The difference between Pet Keepers and other applications is that it focuses on pets, not like the competition
        that is more globalized on various topics.</p>

</div>