#card{
    background-color: #39ACA2;
    margin-top: 4%;
    width: 45%;
    margin-left: 25%;
    border-radius: 20px;
    border-color: #205f5a;
    margin-bottom: 2%;
}

.textCenter{
    text-align: center;
}

.btn{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    outline:none;
}
#carouselExampleDark{
    width: 80%;
    margin: auto;
}

.carousel-indicators {
    justify-content: center;
    padding-left: 10%;
}

button:focus{
    background-color: #d2eeec;
    color: black;
}

h1{
    font-size: 40px;
    padding-top: 4%;
    padding-left: 7%;
    width: 300px;
    font-weight: bold;
}

h2{
    padding-left: 10%;
    padding-top: 1%;
}

h3{
    font-size: 30px;
    font-weight: bold;
    padding-top: 4%;
    padding-left: 7%;
}