<div style="background-color: #d2eeec; padding-left: 7%; padding-bottom: 5%;">
    <h1>MEET THE TEAM</h1>

    <p>In PetKeepers, we believe that every animal must be treated as best as possible, that’s why we’ve decided to
        create this new project. To help pet owners searching people decided to take care and maintain their pets, and
        assure their owners that they will be in safe hands. </p>

    <p>Thanks to the suppliers, we’ll be able to promote the products on our website, and provide our customers with the
        best products on the whole market.</p>

    <h2>Diego:</h2>
    <p id="parrafoName">Hi, my name is Diego Cataño, and I’ve studied at a scientific/technological high school, after that I decided to
        enter a High Vocational Training for Web Development.
        I always enjoyed all types of technology, but there was one that caught me more attention than the others. It
        was programmation.</p>

    <h2>Cristian: </h2>
    <p id="parrafoName">Hello, my name is Cristian Ayala, I have studied a technological baccalaureate, then a Lower Vocational Training
        on Electronics, and now I'm studying a High Vocational Training on Web Development. In our website I’m in charge
        of the visual part of the project, making designs of each page and planning how it will work, and then do the
        frontend of every page that I planned, and hopefully in the future I will make my own website.</p>

    <h2>Juan:</h2>
    <p id="parrafoName">Hello, my name is Juan Mata, I'm in charge of the database, structure of the communication between the backend
        and frontend, data handling and version supervision. I’ve been studying web development for 3 years to become a
        full stack developer, and in the future create my own App, or company specialized in web development.</p>
</div>