<div class="footer">
    <div>
        <h2><b>Pet PetKeepers</b></h2>
        <h4 [routerLink]="['/quienesSomos']" class="cursor-hover">Quienes somos</h4>
        <h4 [routerLink]="['/comoFunciona']" class="cursor-hover">Como funciona</h4>
    </div>

    <div>
        <h2><b>Soporte</b></h2>
        <h4 [routerLink]="['/preguntasFrecuentes']" class="cursor-hover">Preguntas frecuentes</h4>
        <h4 [routerLink]="['/condicionesDeUso']" class="cursor-hover">Condiciones de uso</h4>
    </div>

    <div>
        <h2><b>Contacta con nosotros</b></h2>
        <h4>Direccion: C. de Pelai, 8, 08001 Barcelona</h4>
        <h4>Telefono: +34 933 01 56 96</h4>
        <h4>Correo: soporte@petKeepers.es</h4>
    </div>

    <div style="text-align: center;">
        <h2><b>Nuestras redes sociales</b></h2>
        <a style="width: 70px;" href="https://www.facebook.com/" class="fa fa-facebook"></a>
        <a style="width: 70px;" href="https://www.twitter.com/" class="fa fa-twitter"></a>
        <a style="width: 70px;" href="https://www.instagram.com/petkeeper.dawt2/" class="fa fa-instagram"></a>
    </div>
</div>